

body{
    background-color: #F3CC72;
    font-family:'Balthazar', serif;
    color: #4f77caff;
    text-shadow: 2px 2px 5px white;
}

h1{
    font-size: 180px;
    margin-bottom: 30px;
    margin-up: 30px;
}


a, a:link, a:visited, a:hover, a:focus, a:active{
    text-decoration: none;
    font-size: 40px;
    color: #4f77caff;
}




label{
    font-size: 20px;
}

.description{
    margin: 0;
    background-image: url('../img/jedzenie.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    padding: 30px;
    width: available;
    height: min-content;
}

.description>p{
    font-size: 35px;
}

.menubar{
    text-align: center;
}

.card{
    background-color: #ffa130;
    width: 300px;
    border-radius: 5px;
    align-content: center;
    margin: 50px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #462314;
    box-shadow: 10px 20px 10px #888888;
}
.profile{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
button{
    width: 100px;
    height: 40px;
    border: 1px solid #462314;
    color: #4f77caff;
    text-shadow: 2px 2px 5px white;
    background-color: #ffeec3;
    font-family:'Balthazar', serif;
    font-size: 20px;
    margin-left: auto;
    margin-right: 0;
    display: block;
}

p{
    font-size: 17px;
}

.card-header > h2 {
    text-align: center;
    font-size: 40px;
}

.content{
    display: grid;
    grid-auto-rows: auto auto;
}

.up{
    display: grid;
    grid-auto-columns: auto auto;
    grid-row:1;
}
.down{
    grid-row:2;
}

.left{
    grid-column: 1;
}

.right{
    grid-column: 2;
}

#Profile-name{
    text-align: center;
}

.messbar{
    text-align: center;
}

.messbar > a{
    font-size: 30px;
}

.info{
    display: grid;
    grid-auto-columns: auto auto;
}

.pleft {
    grid-column: 1;
    font-weight: bold;
    width: 120px;
    margin-left: 10px;
}
.pright {
    grid-column:2;
    margin-left: 10px;
}

.color{
    border: 1px solid #462314;
    background-color: #ffeec3;
    border-radius: 5px;
    box-shadow: 5px 10px 15px #777777;
}

.navigation-buttons{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    position: fixed;
}

#l{
    grid-column: 1;
    margin-left: auto;
    margin-right: auto;
}

#p{
    grid-column: 2;
    margin-left: auto;
    margin-right: auto;
}

.error{
    color: red;

}

.error > ul{
    list-style-type: none;
}

html{
    padding: 0;
}
/*--------------TABLE----------------*/

table{
    border: 3px solid #462314;
    background-color: #ffeec3;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

tr{
    border: 2px solid #462314;
}

th, td{
    border: 1px solid #462314;
    width: 15%;
    height: 30px;
    text-align: center;
}

th{
   background-color: #ffa130;

}
